@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sage-green: #8DA399;
  --color-cream-white: #F9F9F5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-cream-white);
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Utilities */
.map-tiles-desaturated {
  filter: sepia(0.1) saturate(0.6) brightness(1.05);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #D1D5DB;
}

/* Popup Styles */
.leaflet-popup-content-wrapper {
  border-radius: 12px !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
}

.leaflet-popup-tip {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
}

.sage-popup .leaflet-popup-content {
  margin: 0 !important;
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translate(-50%, -5%);
  }

  50% {
    transform: translate(-50%, 5%);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}